@using System.Globalization
@model Cart

<h2>Your cart</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Item</th>

        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.CartLines)
    {
        <tr>
            <td class="text-center">
                <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                    <input type="hidden" name="id"
                           value="@line.Product.ProductId"/>
                    <input type="number" required min="1" name="Quantity" value="@line.Quantity" automation="input-quantity"/>
                    <button type="submit" class="btn btn-sm btn-danger" automation="button-updatequantity">
                        Update
                    </button>
                </form>
            </td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right"> @line.Product.Price.ToString("c", CultureInfo.CreateSpecificCulture("sv-SE"))</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c", CultureInfo.CreateSpecificCulture("sv-SE")))
            </td>
            <td>
                <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="Id"
                           value="@line.Product.ProductId"/>
                    @*<input type="hidden" name="returnUrl"
                            value="@Model.ReturnUrl" />*@
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>

        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.CalculateTotal().ToString("c", CultureInfo.CreateSpecificCulture("sv-SE"))
        </td>
    </tr>
    </tfoot>
</table>
<div class="d-flex p-1">
    <div class="w-25 mr-3 text-left">
        <span class="font-weight-bold" style="vertical-align: middle;">CheckoutV2</span>
    </div>
    <div class="text-left w-100 d-flex flex-row">
        <div class="col">
            <a class="btn btn-primary w-100 ml-2" automation="button-checkout-v2" asp-action="InitiateConsumerSession" asp-controller="CheckOut">
            Checkout/Checkin
            </a>
        </div>
        <div class="col">
            <a class="btn btn-primary w-100 ml-2" automation="button-checkout-v2" asp-action="LoadPaymentMenu" asp-controller="CheckOut">
                Checkout/Payment Menu
            </a>
        </div>
    </div>
</div>
<hr class="my-2" style="border-bottom: 1px solid black;" />
<div class="d-flex p-1">
    <div class="w-25 mr-3 text-left">
        <span class="font-weight-bold" style="vertical-align: middle;">CheckoutV3</span>
    </div>
    <div class="text-left w-100 d-flex flex-row">
        <div class="col">
            <a class="btn btn-warning w-100 ml-2" automation="button-checkout-v3" asp-action="CheckoutV3SeamlessView" asp-controller="CheckOut">
                Seamless
            </a>
        </div>
        <div class="col">
            <a class="btn btn-warning w-100 ml-2" automation="button-checkout-v3" asp-action="CheckoutV3Redirect" asp-controller="CheckOut">
                Redirect
            </a>
        </div>
    </div>
</div>
<hr class="my-2" style="border-bottom: 1px solid black;" />
<div class="d-flex p-1">
    <div class="w-25 mr-3 text-left">
        <span class="font-weight-bold" style="vertical-align: middle;"></span>
    </div>
    <div class="text-left w-100 flex-fill">
        <div class="col">
            <a class="btn btn-secondary w-100 ml-2" automation="button-checkout-v2" asp-action="LoadCardPaymentMenu" asp-controller="CheckOut">
                Payment Instruments
            </a>
        </div>
    </div>
</div>
<hr class="my-2" style="border-bottom: 1px solid black;" />